<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Movie", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link href="http://vjs.zencdn.net/5.8.7/video-js.css" rel="stylesheet">
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="flex items-center justify-between px-4 py-3 bg-gray-300 border-b-2 border-gray-400 border-opacity-70">
      <div>
        <a href="/" class="phx-logo">
          <img style="width: 240px; height: 50px;" src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </div>

      <div class="flex-1 px-5">
      </div>
     </div>

      <div>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <%= link "Live Dashboard", to: Routes.live_dashboard_path(@conn, :home) %>
        <% end %>
      </div>
    </header>

    <%= @inner_content %>
  </body>
</html>
