<div class="h-full mx-auto">
  <div class="container">
    <video class="w-full" muted controls preload="metadata" poster="<%= @movie["image"] %>">
      <source src="/stream/<%= @movie["code"] %>" type="video/mp4" />
    </video>

    <div>
      <%= @movie["code"] %>
    </div>
  </div>

  <div class="h-full border-l-2 border-gray-400 w-80">
  </div>
</div>

